<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title prefix={if assigns[:page_title], do: "Playground | ", else: nil}>
      {assigns[:page_title] || "Playground"}
    </.live_title>
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=inter:400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/heroicons.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <%= PlaygroundWeb.ThemeHelpers.theme_css_tag(assigns) %>
  </head>
  <body
    class="bg-base min-h-screen flex flex-col"
    data-theme={
      if assigns[:current_user],
        do: Playground.Accounts.User.theme_preference(@current_user),
        else: "system"
    }
  >
    {@inner_content}
  </body>
</html>
